*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
  padding: 16px 64px;
  background-color: white;
  position: sticky;
  top:0;
  z-index:1;
}
header ul{
  list-style: none;
}

.pp{
  height: 100px;
  width: 100px;
}
.flex{
  display: flex;
align-items: center;
gap: 50px;
}
.between{
  justify-content: space-between;
}
.align_center{
  align-items: center;
}
.logoimg{
  width: 64px;
  height: 64px;
}
.Section_card{
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
}
h3{
  color: white;
  text-align: start;
}
/* Carte 1 */
.carte {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 300px;
    display: block;
    background-color: white;
  }

  .image {
    width: 100%;
    margin: 3px;
    border-radius: 10px;
  height: 200px;
}

  
  .bouton {
    margin-left: auto;
    background-color: hsl(18, 85%, 48%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    padding: 8px 8px;
    border-radius: 6px;
    margin: auto;
    width: 42%;
  }

/* Carte 2 */

  .carte2 {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 100px;
    display: block;
    background-color: white;
    
  }

  .image2 {
    width: 100%;
    margin: 3px;
    border-radius: 10px;
    height: 200px;
  
  }
  
  .bouton2 {
    margin-left: auto;
    background-color: hsl(204, 100%, 50%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    padding: 8px 8px;
    border-radius: 6px;
    margin: auto;
    width: 42%;
  }
  /* Description */

.Titres{
  text-decoration: underline;
  text-align: center;
  padding: 50px;
}


.Description{
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  padding: 50px;

}

.petit-projet{
  background-color: black;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  
  
}
/* PETIT PROJET 1 */
.petit-projet1 {
  width: 500px;
  border: 1px solid #f50101;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 150px;
  display: block;
  background-color: white;;
  
}

.imagepetitprojet1 {
  width: 100%;
  margin: 3px;
  border-radius: 10px;
  height: 200px;

}

.boutonpetit1{
  margin-left: auto;
  background-color: hsl(0, 0%, 2%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  padding: 8px 8px;
  border-radius: 6px;
  margin: auto;
  width: 42%;
}
/* Projet 2 */
.petit-projet2 {
  width: 500px;
  border: 1px solid #ec0c0c;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 150px;
  display: block;
  background-color: white;
  
}

.imagepetitprojet2 {
  width: 100%;
  margin: 3px;
  border-radius: 10px;
  height: 200px;

}

.boutonpetit2{
  margin-left: auto;
  background-color: hsl(180, 6%, 3%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  padding: 8px 8px;
  border-radius: 6px;
  margin: auto;
  width: 42%;
}

/* petit projet 3 */
.petit-projet3 {
  width: 500px;
  border: 1px solid #ec0c0c;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 150px;
  display: block;
  background-color: white;
  
}

.imagepetitprojet3 {
  width: 100%;
  margin: 3px;
  border-radius: 10px;
  height: 200px;

}

.boutonpetit3{
  margin-left: auto;
  background-color: hsl(180, 9%, 2%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  padding: 8px 8px;
  border-radius: 6px;
  margin: auto;
  width: 42%;
}



footer{
  display: flex;
  width: auto;
  margin-top: 10px;
  margin-bottom: 50px;
}

  
